# top-most EditorConfig file
root = true

# properties for all files
[*]
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = true
charset = utf-8

# JS, YAML files
[*.{js, yml}]
intent_style = space
indent_size = 2