# node modules
/node_modules/

# QuesoQueue specific files
/*.save
/userWaitTime.txt
/waitingUsers.txt
/customCodes.json
/userOnlineTime.txt
/data/

# JSHint config file
.jshintrc

# Secrets
settings.json
